body
{
    color:                      #000000;
    background-color:           #EEEECB;
    margin:                     0px;
    padding:                    0px;
    text-align:                 center; /* IE centering */
}

form
{
    margin:                     0px;
    padding:                    0px;
}



/* displaytag styles begin */
.stateTable {
    border: 1px solid #666;
    width: 70%;
    margin: 0px 0 20px 0;
}

tr.odd {
	background-color: #E0E09F;
}

tr.tableRowEven,tr.even {
	background-color: #EEEECB;
}

th.sorted {
   background-color: #B6B675;
}

th.sorted a,th.sortable a {
   background-position: right;
   display: block;
   width: 100%;
   background-repeat: no-repeat;
}

th.sortable a {
   background-image: url(../images/arrow_off.png);
}

th.order1 a {
   background-image: url(../images/arrow_up.png);
}

th.order2 a {
   background-image: url(../images/arrow_down.png);
}

.table02 {
   height: 300px;
   border: 1px solid #000000;
   overflow: auto;
   overflow-x: visible;
}

.table02_no_scroll {
   height: 300px;
   border: 1px solid #000000;
   overflow: visible;
}

.table02_no_scroll_no_border {
   height: auto;
   border: none;
   overflow: visible;
}

.campaign_table {
   height: 450px;
   /*width: 390px;*/
   border: 1px solid #000000;
   overflow: auto;
}

.multiselect_table {
   height: 100px;
   border: 1px solid #000000;
   overflow-x: hidden;
   overflow-y: auto;
   display: inline-block;
}



.rsm_activity_table {
   height: 100px;
   border: 0px;
   overflow-x: hidden;
   overflow-y: auto;
   display: inline-block;
}

.multiselect_table > table {
   width: 100%;
}

.multiselect_table > table td > label {
   margin-right: 15px;
}

.printerFriendly {
   width: 600px;
   height: 100%;
   overflow: visible;
   text-align: left;
}

.table02_subholder_header {
   background-color: #DADA8C;
   font-weight: bold;
   text-align: left;
}

.tableRowOdd,.tableRowEven {
   height: 100%;
}

.tableRowOdd {
   background-color: #FFFFFF;
}

.tableRowEven {
   background-color: #EBE6D8;
}
.errors {
	font-family: Verdana, Arial;
	font-color: red;
	font-weight: bold;
}

#nav {
    z-index: 10000;
    top: -5px;
    width: 100%;
    font-size: 8px;
}

#menudiv {
    overflow: visible;
    height: 20px;
    z-index: 1000;
}

#nav {
    z-index: 1000;
}

ul#nav
{
    width: 100%;
    height: 20px;
    padding: 0px;
    margin: 0px;
    background-color:#29291A;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    z-index: 1000;
}

ul#nav ul {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 20px;
    padding: 0px;
    margin: 0px;
    background-color:#29291A;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    z-index: 1100;
    display: none;
}

/* For just the top menu links */
ul#nav > li > a {
    height: 19px;
}

ul#nav:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    z-index: 1000;
    width: 10px;
}

ul#nav li {
    color: #ffffff;
    position: relative;
    background-color:#29291A;
    float: left;
    width: 150px; /* Width of Menu Items */
    z-index: 1000;
}

ul#nav li a,
ul#nav li li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding-left: 3px;
    padding-top: 1px;
    border: none;
    z-index: 1000;
}

ul#nav ul ul {
    left: 150px;
    top: 0;
    z-index: 1000;
}

ul#nav li ul li a {
    padding: 2px 3px;
    z-index: 1000;
} /* Sub Menu Styles */

ul#nav li:hover ul ul,
ul#nav li:hover ul,
ul#nav li:hover ul ul ul,
ul#nav li.over ul ul,
ul#nav li.over ul ul ul {
    display: block;
    z-index: 1000;
} /* Hide sub-menus initially */

ul#nav li:hover,
ul#nav li.over {
    background-color: #29291A !important;
    z-index: 1000;
}

ul#nav li a:hover,
li a.over {
    color: #000000;
    background-color: #FFCC33;
    z-index: 1000;
}

