<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">  
    
    <display-name>Spring MVC 1 Web Application</display-name>
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  
    <servlet>
        <servlet-name>stateCodesAjaxTag</servlet-name>
        <servlet-class>org.sebek.struts1.example.ajax.StateCodesAjaxTag</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/do/*</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>stateCodesAjaxTag</servlet-name>
        <url-pattern>/do/ajax/ajaxtags/getStates</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>
       <welcome-file></welcome-file>
    </welcome-file-list>
</web-app>
